@mixin core-color {
  --body-color: var(--color-black);
  --body-background-color: var(--elevation-0);

  --primary-color: var(--color-blue-a400);
  --primary-focus-color: var(--color-blue-a700);
  --secondary-color: var(--color-blue-grey);
  --secondary-focus-color: var(--color-blue-grey-700);
  --positive-color: var(--color-teal);
  --positive-focus-color: var(--color-teal-700);
  --warning-color: var(--color-amber-600);
  --warning-focus-color: var(--color-amber-700);
  --negative-color: var(--color-red);
  --negative-focus-color: var(--color-red-700);
}

@mixin elevation-color {
  --elevation-0: var(--color-white);
  --elevation-1: var(--color-blue-grey-50);
  --elevation-2: var(--color-blue-grey-100);
  --elevation-3: var(--color-blue-grey-200);
}

@mixin implement-color {
  :root {
    @include core-color;
    @include elevation-color;
  }
}
